body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  border: 1px solid #aaa;
  box-shadow: 3px 3px 4px #aaa;
  margin: auto;
  padding: 6px 3px 6px 8px;
  width: 98%;
}

p {
  margin: 20px 0 16px;
}

ul {
  margin-left: -30px;
  list-style-type: disc;
}

li {
  margin: 8px;
}

abbr {
  text-decoration-color: rgb(200, 200, 200);
  text-decoration-style: wavy;
}

a {
  text-decoration: none;
}

header,
.section-content {
  margin: auto;
  width: 90%;
}

.small-caps {
  font-variant: small-caps;
}

.full-width-container {
  padding-bottom: 4px;
  padding-top: 2px;
}

.full-width-container:nth-child(odd) {
  background-color: #fcdbdb;
}

.full-width-container:nth-child(even) {
  background-color: #fcf2f2;
}

#qualifications--required-and-preferred {
  display: flex;
}

#qualifications--required-and-preferred section {
  width: 50%;
}
